#canvas2D{
    padding-left: 0;
    padding-right: 0;
    background-color:black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
    height: 600px;
}

#header1{
    text-align: center;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
